.day {
    height: 10rem;
    width: 16rem;
    // display: inline-block;
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    @media screen and (min-width: $break-small) {
      width: 24rem;
    }
    @media screen and (min-width: $break-large) {
      width: 11rem;
    }
}
.day-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}
.day-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}