$gray: #333333;
$light-gray: #666666;
$blue: #006699;
$light-blue: #0096CD;
$break-small: 480px;
$break-medium: 720px;
$break-large: 1200px;
$align-top: left top;
$align-center: left center;
$align-bottom: left bottom;
$text-shadow: 0px 0px 20px #333;

